/*general*/
*{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px !important;
}

body {
    background-color: #000;
}

.blanco{color: #fff !important;}
.negro{
    text-align: left;
    color: #000 !important;}

.ui-corner-all { color:#000;}
.ui-icon {color: #000;}
/*general*/

#mainwrapper{
    padding: 10px !important;
    text-align: center;
}

btn {
    background-color: greenyellow;
}

.recommendation {
    text-align: left;
}

.col-lg-7 {
    border: #000;
    border: solid;
    background-color:honeydew;
}

.col-lg-5 {
    background-color: honeydew;
    border: solid;
}

#datepicker-container{ 
    text-align:center; 
    padding-bottom: 60px !important;
    padding-top: 60px !important;}
#datepicker-center{ text-align:center; display:inline-block; margin:0 auto;}

li.pregweek {display: block; width: 33%; float: left;}
li p.normal { border-radius: 50% !important; 
                padding-top: 9px !important; 
                height: 40px !important;
                width: 40px !important; 
                background-color:#9ff23e; }

li p.bwhite{background-color: #fff !important;}
li p.trim{ padding-bottom: 65px !important; height: 40px !important; width: 40px !important;}

.targetlist, .targetlistweek{list-style-type: none !important;}
#list-container{ text-align:center; padding-bottom: 60px !important;}
#list-center{
    text-align:center; 
    display:inline-block; 
    margin:0 auto;
    padding-top: 60px !important;
}

.panel {
  margin-bottom: 0px;
  padding-bottom: 0px;
  margin-top: 60px;
  background-color: #fff;
}
.panel-body {background-size: 1000px 500px;}
.panel-heading {padding: 10px 15px;}
.panel-title {margin-top: 0;margin-bottom: 0;font-size: 16px;color: inherit;}
.panel-success {border-color: #d6e9c6;}
.panel-success>.panel-heading {color: black; background-color: greenyellow; border-color: #d6e9c6;}

.pgbar-container{
    width:100%;
    position:relative;
    height:3em;
    background-color:#e8b0c2 !important;
    border-radius: 5px !important;
    border: 2px solid !important;
    border-color:black !important;
}

.pgbar{
    width:25%;
    position:absolute;
    height:100%;
    background-color: #0e2bd7 !important;
}

.pgbartext{
    color: #fff !important;
    text-align: center !important;
    font-size: 16px !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
